body {
    height: 100vh;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    display: flex;
    background-color: #6548f8c2;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5))
}

.calculator {
    height: 500px;
    width: 300px;
    background-color: rgba(49, 49, 49, 0.803);
    border-radius: 8px;
    box-shadow: 10px 10px 12px 1px #372788c2,
    -5px -5px 11px -4px #372788c2;
}


.grid-buttons > button {
    border-radius: 8px;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    grid-gap: .5em;
    padding: .8rem;
}

.Screen-operation {
    padding-right: 20px;
    text-align: right;
    font-size: larger;
    background-color: #817a7a;
    height: 100px;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 8px;
}

.clear-delete {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 50px);
    padding: .8rem;
}

.clear-delete > button {
    border-radius: 5px;
}

button {
    background-color:#312c2c;
    font-size: 16px;
    color: whitesmoke;
}

button:hover {
    background-color: rgba(0, 255, 255, 0.434);
}











